import React from 'react'
import ReactDOM from 'react-dom'
import PropTypes from 'prop-types'
import ReactAplayer from 'react-aplayer'

<%# name = 'Erb' %>

//const Hello = props => (
//  <div>Hello {props.name}! By <%#= name %></div>
//)

//Hello.defaultProps = {
//  name: 'David'
//}

//Hello.propTypes = {
//  name: PropTypes.string
//}

const Hello = () => (
  <div><ReactAplayer/></div>
)

document.addEventListener('DOMContentLoaded', () => {
  ReactDOM.render(
    <Hello name="React" />,
    document.body.appendChild(document.createElement('div')),
  )
})
