<div id="rooms-join"></div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <div>
      <h2>房间</h2>
    </div>
      <%= text_field_tag :token, nil, placeholder: 'Token', class: 'styled-input' %>
      <%= submit_tag '加入', id: 'join_room', class: 'btn btn-primary' %>
  </div>
</div>